In [5]:
import numpy as np
import pandas as pd
randn = np.random.rand

df = pd.DataFrame(np.random.rand(5,4))

In [6]:
df

          0         1         2         3
0  0.562825  0.761408  0.031524  0.819830
1  0.860891  0.998891  0.263526  0.218821
2  0.872082  0.492272  0.076509  0.916369
3  0.647878  0.950431  0.992301  0.135854
4  0.700976  0.408028  0.604877  0.120557

In [8]:
print(df[:3])

          0         1         2         3
0  0.562825  0.761408  0.031524  0.819830
1  0.860891  0.998891  0.263526  0.218821
2  0.872082  0.492272  0.076509  0.916369

In [11]:
df = pd.DataFrame(np.random.rand(5,4), columns=['1','2','3','4'], index=['a','b','c','d','e'])

In [12]:
df

          1         2         3         4
a  0.087072  0.564176  0.310268  0.429471
b  0.005075  0.847551  0.549889  0.753319
c  0.741797  0.620205  0.472276  0.119998
d  0.745018  0.577867  0.861346  0.172104
e  0.109444  0.922733  0.246408  0.659169

In [14]:
df[1:2]

          1         2         3         4
b  0.005075  0.847551  0.549889  0.753319

In [16]:
df[['1','2']]

          1         2
a  0.087072  0.564176
b  0.005075  0.847551
c  0.741797  0.620205
d  0.745018  0.577867
e  0.109444  0.922733

In [17]:
type(df.loc['d'])

pandas.core.series.Series

In [18]:
df.iloc[:,2:]

          3         4
a  0.310268  0.429471
b  0.549889  0.753319
c  0.472276  0.119998
d  0.861346  0.172104
e  0.246408  0.659169

In [19]:
df.iloc[:,1:].values

array([[0.56417609, 0.31026807, 0.42947077],
       [0.84755074, 0.54988943, 0.75331854],
       [0.62020546, 0.4722757 , 0.11999769],
       [0.57786749, 0.86134561, 0.17210386],
       [0.9227333 , 0.246408  , 0.65916885]])